.eventTypes {
    .header {
        display: flex;
        align-items: flex-end;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #ddd;

        .title {
            flex: 1;
        }
    }

    .eventTypeContainer {
        .MuiCard-root {
            border-top: 4px solid #3f50b6;
        }

        .MuiCardActions-root {
            padding: 16px;
            border-top: 1px solid #ddd;
        }
    }
}
