body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333333;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: #3f50b6;

    &:hover {
        color: #051361;
    }
}

.container {
    padding-top: 64px;
}

.wrapper {
    max-width: 1100px;
    display: block;
    margin: auto;
    width: 100%;
}

.navBar {
    .logo {
        flex: 1;
    }

    button {
        margin-left: 16px;
    }
}

form {
    .MuiFormControl-root {
        width: 100%;
        margin-bottom: 1rem !important;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.formElement {
    label {
        font-weight: 800;
        padding-bottom: 16px;
        display: block;
    }
}

.dashboardBody {
    padding-top: 24px;
}

.errorText {
    font-size: 0.75rem;
    color: #f44336;
}

.greenText {
    color: rgb(32, 151, 32);
}

.bulletDesign {
    position: relative;
    padding-left: 48px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        background-color: #3f50b6;
        width: 24px;
        height: 24px;
    }
}
